<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="javascript" href="../lib/employee.js">
    <link rel="javascript" href="../lib/manager.js">
    <link rel="javascript" href="../lib/intern.js">
    <link rel="javascript" href="../lib/engineer.js">
    <link rel="mainpage" type="text/html" href="main.html">
    <link rel="engineerpage" type="text/html" href="engineer.html">
    <link rel="internpage" type="text/html" href="intern.html">
    <link rel="managerpage" type="text/html" href="manager.html">
    <title>Your Team Viewer</title>
</head>
<body>
     <div class="jumbotron">
        <h1 class="display-3">Team Name</h1>
        <p class="lead">Your Manager </p>
        <hr class="my-2">
        <div style="padding-top: 20px;">
            <div class="nav justify-content-center">
                <li class="nav-item bg-primary">
                    <a class="nav-link text-white" href="main.html" target="_self">Team</a>
                </li>
                <li class="nav-item bg-primary" >
                  <a class="nav-link text-white" href="manager.html" target="_self">Managers</a>
                </li>
                <li class="nav-item bg-primary">
                  <a class="nav-link text-white" href="engineer.html" target="_self">Engineers</a>
                </li>
                <li class="nav-item bg-primary">
                    <a class="nav-link text-white" href="intern.html" target="_self">Interns</a>
                </li>                
            </div>
        </div>
        
    </div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-100">
            <img src="../images/person-placeholder.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
            <img src="../images/person-placeholder.jpg" class="card-img-top" alt="Person placeholer image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
            </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
            <img src="../images/person-placeholder.jpg" class="card-img-top" alt="Person placeholer image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            </div>
        </div>        
    </div>    
</div>
</body>
</html>